@font-face {
  font-family: 'LTCircular';
  font-weight: 800;
  src: url("../fonts/circularstd-black.eot");
  src: url("../fonts/circularstd-black.eot") format("embedded-opentype"), url("../fonts/circularstd-black.woff") format("woff"), url("../fonts/circularstd-black.ttf") format("truetype"), url("../fonts/circularstd-black.svg#CircularStdBlackRegular") format("svg"); }
@font-face {
  font-family: 'LTCircular';
  font-weight: 800;
  font-style: italic;
  src: url("../fonts/circularstd-blackitalic.eot");
  src: url("../fonts/circularstd-blackitalic.eot") format("embedded-opentype"), url("../fonts/circularstd-blackitalic.woff") format("woff"), url("../fonts/circularstd-blackitalic.ttf") format("truetype"), url("../fonts/circularstd-blackitalic.svg#CircularStdBlackItalic") format("svg"); }
@font-face {
  font-family: 'LTCircular';
  font-weight: 700;
  src: url("../fonts/circularstd-bold.eot");
  src: url("../fonts/circularstd-bold.eot") format("embedded-opentype"), url("../fonts/circularstd-bold.woff") format("woff"), url("../fonts/circularstd-bold.ttf") format("truetype"), url("../fonts/circularstd-bold.svg#CircularStdBlackBold") format("svg"); }
@font-face {
  font-family: 'LTCircular';
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/circularstd-bolditalic.eot");
  src: url("../fonts/circularstd-bolditalic.eot") format("embedded-opentype"), url("../fonts/circularstd-bolditalic.woff") format("woff"), url("../fonts/circularstd-bolditalic.ttf") format("truetype"), url("../fonts/circularstd-bolditalic.svg#CircularStdBoldItalic") format("svg"); }
@font-face {
  font-family: 'LTCircular';
  font-weight: 300;
  src: url("../fonts/circularstd-book.eot");
  src: url("../fonts/circularstd-book.eot") format("embedded-opentype"), url("../fonts/circularstd-book.woff") format("woff"), url("../fonts/circularstd-book.ttf") format("truetype"), url("../fonts/circularstd-book.svg#CircularStdBlackBook") format("svg"); }
@font-face {
  font-family: 'LTCircular';
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/circularstd-bookitalic.eot");
  src: url("../fonts/circularstd-bookitalic.eot") format("embedded-opentype"), url("../fonts/circularstd-bookitalic.woff") format("woff"), url("../fonts/circularstd-bookitalic.ttf") format("truetype"), url("../fonts/circularstd-bookitalic.svg#CircularStdBookItalic") format("svg"); }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  transition: color 0.5s;
  color: #ff8228;
  text-decoration: none; }
  a:hover {
    color: #da5b00; }

strong {
  font-weight: bold; }

body {
  width: 1200px;
  margin: 0 auto;
  color: #333;
  background-color: #fff;
  font-family: 'LTCircular', sans-serif;
  padding: 2em; }
  @media (max-width: 1200px) {
    body {
      width: 960px; } }
  @media (max-width: 960px) {
    body {
      width: 768px; } }
  @media (max-width: 768px) {
    body {
      width: 600px; } }
  @media (max-width: 600px) {
    body {
      width: 100%; } }
  body header {
    padding: 0 0 2em 0; }
    body header h1 {
      display: inline-block;
      width: 20em;
      height: 3.6em;
      vertical-align: middle;
      background-image: url("../images/b2Bmore-logo.png");
      background-repeat: none;
      background-size: 20em 3.6em;
      text-indent: -9990px;
      margin: 0 2em 0 0; }
    body header ul {
      display: inline-block;
      vertical-align: middle;
      padding: 1em 0 0 0; }
      body header ul li {
        display: inline-block;
        margin: 0 0 0 2em; }
        body header ul li a {
          display: block;
          color: #ff8228;
          font-size: 1.25em;
          text-decoration: none;
          padding: .5em 0; }
  body section {
    border-top: solid 1px #ccc;
    padding: 2em 0; }
    body section h2,
    body section h3 {
      color: #00c896;
      font-size: 1.5em;
      font-weight: bold;
      margin: 0 0 1em 0; }
    body section h3 {
      font-size: 1.25em; }
    body section p {
      line-height: 1.5em;
      margin: 0 0 1em 0; }
      body section p:last-of-type {
        margin: 0; }
    body section#introduction {
      font-size: 0; }
      body section#introduction div {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        font-size: 16px;
        margin: 2em 0;
        padding: 0 1em 0 0; }
        body section#introduction div:last-of-type {
          text-align: center;
          padding: 0 0 0 1em; }
          body section#introduction div:last-of-type p {
            font-size: 1.25em;
            font-weight: bold;
            margin: 0 0 1em 0; }
          body section#introduction div:last-of-type a {
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
            display: inline-block;
            color: #fff;
            background-color: #00c896;
            font-size: 1.25em;
            border-radius: .25em;
            padding: 1em 3em; }
            body section#introduction div:last-of-type a:hover {
              background-color: #00ecb1; }
    body section iframe {
      margin: 1em 0 2em 0; }
    body section#schedule table {
      width: 100%;
      background-color: #fff; }
      body section#schedule table thead tr td {
        background-color: rgba(0, 200, 150, 0.35); }
      body section#schedule table tr td {
        width: 12.5%;
        background-color: rgba(0, 200, 150, 0.15);
        text-align: center;
        border-right: solid 2px #fff;
        border-bottom: solid 2px #fff;
        padding: 1em .5em; }
        body section#schedule table tr td:last-of-type {
          width: 75%;
          border-right: none;
          padding: 0; }
          body section#schedule table tr td:last-of-type table {
            width: 100%; }
            body section#schedule table tr td:last-of-type table tr td {
              overflow-wrap: break-word;
              word-wrap: break-word;
              word-break: break-all;
              width: 20%;
              border-bottom: none;
              padding: 1em .5em; }
              body section#schedule table tr td:last-of-type table tr td:last-of-type {
                border-right: none; }
    body section#schedule > table > tbody > tr:last-of-type td {
      border-bottom: none; }
    body section#schedule > table > tbody > tr > td:nth-child(2) {
      border-bottom: none; }
    body section#hosts div {
      display: inline-block;
      width: 50%;
      float: left;
      vertical-align: top;
      margin: 0 0 2em 0;
      padding: 0 1em 0 0; }
      body section#hosts div:last-of-type {
        padding: 0 0 0 1em; }
      body section#hosts div img {
        max-width: 100%;
        height: auto;
        padding: 0 2em 2em 2em; }
    body section#hosts > a img {
      width: 50%;
      height: auto;
      float: left;
      margin: 0 0 2em 0;
      padding: 0 4em; }

@media (max-width: 600px) {
  body {
    padding-top: 3em; }
    body header {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 3em;
      background-color: #fff;
      box-shadow: 0 0.125em 0.125em rgba(0, 0, 0, 0.1); }
      body header h1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 3em;
        background-size: 10em 1.8em;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 0; }
        body header h1:after {
          content: "";
          position: absolute;
          top: .75em;
          left: .75em;
          width: 1.5em;
          height: 1.5em;
          background-image: url("../images/menu-button.png");
          background-repeat: no-repeat;
          background-size: 1.5em 3em;
          cursor: pointer; }
      body header ul {
        position: absolute;
        top: 3em;
        left: 0;
        display: none;
        width: 100%;
        background-color: #fff;
        box-shadow: inset 0 0.125em 0.125em rgba(0, 0, 0, 0.1), 0 0.125em 0.125em rgba(0, 0, 0, 0.1);
        padding: 0 2em; }
        body header ul li {
          display: block;
          border-bottom: solid 1px #ccc;
          margin: 0; }
          body header ul li:last-of-type {
            border-bottom: none; }
          body header ul li a {
            padding: .75em 0; }
      body header.active h1:after {
        background-position: 0 -1.5em; }
      body header.active ul {
        display: block; }
    body section#introduction {
      border-top: none; }
    body section#introduction div,
    body section#introduction div:last-of-type, body section#hosts div,
    body section#hosts div:last-of-type {
      display: block;
      width: 100%;
      padding: 0; }
    body section#introduction > a img, body section#hosts > a img {
      width: 100%;
      padding: 0; } }

/*# sourceMappingURL=style.css.map */
