@import '../bourbon/bourbon';
@import 'fonts';
@import 'variables';

* {
  @include box-sizing(border-box);
}

a {
  @include transition(color 0.5s);
  color: $orange;
  text-decoration: none;
  &:hover {
    color: darken($orange, 15%);
  }
}

strong {
  font-weight: bold;
}

body {
  @include responsive-width;
  @include sans-serif;
  color: $black;
  background-color: #fff;
  padding: 2em;
  header {
    padding: 0 0 2em 0;
    h1 {
      display: inline-block;
      width: 20em;
      height: 3.6em;
      vertical-align: middle;
      background-image: url('../images/b2Bmore-logo.png');
      background-repeat: none;
      background-size: 20em 3.6em;
      text-indent: -9990px;
      margin: 0 2em 0 0;
    }
    ul {
      display: inline-block;
      vertical-align: middle;
      padding: 1em 0 0 0;
      li {
        display: inline-block;
        margin: 0 0 0 2em;
        a {
          display: block;
          color: $orange;
          font-size: 1.25em;
          text-decoration: none;
          padding: .5em 0;
        }
      }
    }
  }
  section {
    border-top: solid 1px $light-gray;
    padding: 2em 0;
    h2,
    h3 {
      color: $green;
      font-size: 1.5em;
      font-weight: bold;
      margin: 0 0 1em 0;
    }
    h3 {
      font-size: 1.25em;
    }
    p {
      line-height: 1.5em;
      margin: 0 0 1em 0;
      &:last-of-type {
        margin: 0;
      }
    }
    &#introduction {
      font-size: 0;
      div {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        font-size: 16px;
        margin: 2em 0;
        padding: 0 1em 0 0;
        &:last-of-type {
          text-align: center;
          padding: 0 0 0 1em;
          p {
            font-size: 1.25em;
            font-weight: bold;
            margin: 0 0 1em 0;
          }
          a {
            @include green-button;
          }
        }
      }
    }
    iframe {
      margin: 1em 0 2em 0;
    }
    &#schedule {
      div.mobile-schedule {
        display: none;
        p {
          padding-left: 1em;
        }
        ul {
          list-style: disc;
          margin: 1em 0;
          padding: 0 0 .5em 2em;
          li {
            margin: 0 0 .5em 0;
          }
        }
      }
      table {
        width: 100%;
        background-color: #fff;
        thead {
          tr {
            td {
              background-color: rgba($green, .35);
            }
          }
        }
        tr {
          td {
            width: 12.5%;
            vertical-align: middle;
            background-color: rgba($green, .15);
            text-align: center;
            border-right: solid 2px #fff;
            border-bottom: solid 2px #fff;
            padding: 1em .5em;
            &:last-of-type {
              width: 75%;
              border-right: none;
              padding: 0;
              table {
                width: 100%;
                tr {
                  td {
                    width: 20%;
                    border-bottom: none;
                    padding: 1em .5em;
                    &:last-of-type {
                      border-right: none;
                    }
                    a {
                      color: $green;
                      text-decoration: underline;
                    }
                  }
                }
              }
            }
          }
        }
      }
      > table {
        > tbody {
          > tr {
            &:last-of-type {
              td {
                border-bottom: none;
              }
            }
            > td:nth-child(2) {
              border-bottom: none;
            }
          }
        }
      }
    }
    &#hosts {
      div {
        display: inline-block;
        width: 50%;
        float: left;
        vertical-align: top;
        margin: 0 0 2em 0;
        padding: 0 1em 0 0;
        &:last-of-type {
          padding: 0 0 0 1em;
        }
        img {
          max-width: 100%;
          height: auto;
          padding: 0 2em 2em 2em;
        }
      }
      > a {
        img {
          width: 50%;
          height: auto;
          float: left;
          margin: 0 0 2em 0;
          padding: 0 4em;
        }
      }
    }
    &#application-form {
      .hbspt-form {
        .hs-form {
          max-width: 760px;
          margin: 0;
          fieldset {
            width: 100%;
            max-width: none;
            label {
              span {
                @include sans-serif;
              }
            }
            div.input {
              margin-right: 0;
              input,
              select,
              textarea {
                @include box-sizing(border-box);
                width: 100%;
                max-width: none;
                padding: 1.5em 1em;
              }
            }
            &.form-columns-2 {
              > div:first-child {
                padding: 0 1em 0 0;
              }
              > div:last-child {
                padding: 0 0 0 1em;
              }
              @media (max-width: 400px) {
                > div:first-child,
                > div:last-child {
                  padding: 0;
                }
              }
            }
          }
          .hs_submit {
            .actions {
              margin: 0;
              padding: 1em 0 0 0;
              .hs-button {
                @include green-button;
                background-image: none;
                text-shadow: none;
                border: none;
                box-shadow: none;
              }
            }
          }
        }
      }
    }
    &#brought-to-you-by {
      a {
        img {
          height: 5em;
          width: auto;
          margin: 0 4em 2em 0;
        }
      }
    }
  }
}

@media (max-width: $breakpoint4) {
  body {
    padding-top: 3em;
    header {
      @include user-select(none);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 3em;
      background-color: #fff;
      box-shadow: 0 .125em .125em rgba(0, 0, 0, .1);
      h1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 3em;
        background-size: 10em 1.8em;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 0;
        &:after {
          content: "";
          position: absolute;
          top: .75em;
          left: .75em;
          width: 1.5em;
          height: 1.5em;
          background-image: url("../images/menu-button.png");
          background-repeat: no-repeat;
          background-size: 1.5em 3em;
          cursor: pointer;
        }
      }
      ul {
        position: absolute;
        top: 3em;
        left: 0;
        display: none;
        width: 100%;
        background-color: #fff;
        box-shadow: inset 0 .125em .125em rgba(0, 0, 0, .1), 0 .125em .125em rgba(0, 0, 0, .1);
        padding: 0 2em;
        li {
          display: block;
          border-bottom: solid 1px $light-gray;
          margin: 0;
          &:last-of-type {
            border-bottom: none;
          }
          a {
            padding: .75em 0;
          }
        }
      }
      &.active {
        h1 {
          &:after {
            background-position: 0 -1.5em;
          }
        }
        ul {
          display: block;
        }
      }
    }
    section {
      &#introduction {
        border-top: none;
      }
      &#introduction,
      &#hosts {
        div,
        div:last-of-type {
          display: block;
          width: 100%;
          padding: 0;
        }
        > a {
          img {
            width: 100%;
            padding: 0;
          }
        }
      }
      &#schedule {
        div.mobile-schedule {
          display: block;
        }
        table.schedule {
          display: none;
        }
      }
    }
  }
}
